

@keyframes popin-kf
    from 
        font-size: 2rem
        color: red
    to
        font-size: 1rem
        color: black

.popin
    display: block
    background-color: yellow
    animation: popin-kf 1s linear none
    transition: font 1s 
